@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}
<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        @foreach (var item in ViewBag.SliderList)
        {
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="@item.imageUrl" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 class="text-primary text-uppercase mb-3 animated slideInDown">En İyi Online Kurs</h5>
                                <h1 class="display-3 text-white animated slideInDown">@item.SliderTitle</h1>
                                <p class="fs-5 text-white mb-4 pb-2">@item.SliderContent</p>
                                <a href="@item.SliderButtonUrl" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">@item.SliderButtonName</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }


    </div>
</div>
<!-- Carousel End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3">Yetenekli Eğitmenler</h5>
                        <p>Sizler için en iyi eğitmenlerimiz ile çalışıyoruz.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">Online Sınıflar</h5>
                        <p>Yüz yüze eğitimden yeni eğitime geçişin mutululuğunu yaşıyoruz.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <h5 class="mb-3">Online Ev Ödevleri</h5>
                        <p>Daha anlaşılır ve verilerin kaybolması içi Online Ev Ödevi veriyoruz.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">Online Kütüphane</h5>
                        <p>Online Kitaplarımız ile Yazılımda daha öne çıkıyoruz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute" src="@ViewBag.AboutImage " alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">Hakkımızda</h6>
                <h1 class="mb-4">Kendine Değer Kat!</h1>
                <span class="mb-4">@Html.Raw(ViewBag.AboutContent.Substring(0,350))</span><br />
                <a class="btn btn-primary py-3 px-5 mt-2" href="@Url.Action("Index", "Hakkimizda")">İletişim</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Courses Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Kurslar</h6>
            <h1 class="mb-5">Online Kurslar</h1>
        </div>
        <div class="row g-4 justify-content-center">
            @foreach (var item in ViewBag.CourseList){
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="course-item bg-light">
                    <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="@item.CourseImage" alt="">
                        <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a href="https://wa.me/905312232852?text=" target="_blank" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px;">İletişime Geç!</a>
                        </div>
                    </div>
                    <div class="text-center p-4 pb-0">
                            <h3 class="mb-0">@item.CoursePrice ₺</h3>
                            <h5 class="mb-4">@item.CourseName</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>@item.CourseTeacher</small>
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>@item.CourseTimes.ToString("HH:mm")</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>@item.CourseQuota Kontenjan </small>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
<!-- Courses End -->
<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Eğitmenler</h6>
            <h1 class="mb-5">Uzman Eğitmenler</h1>
        </div>
        <div class="row g-4">
            @foreach (var item in ViewBag.EducatorList){
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                            <img class="img-fluid" src="@item.Image" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1" href="@item.Facebook"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="@item.Twitter"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="@item.Instagram"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">@item.Name</h5>
                            <small>@item.Department</small>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
<!-- Team End -->
<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Yorumlar</h6>
            <h1 class="mb-5">Yorumlarınız Bizim İçin Önemli!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            @foreach(var item in ViewBag.CommentList){
               <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="~/Page/img/3007823343.png" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">@item.CommentName</h5>
                <p>Kullanıcımız</p>
                <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">@item.CommentContent</p>
                </div>
            </div>
            }
        </div>
    </div>
</div>
<!-- Testimonial End -->