@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}
<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Aktif Kurslar</h1>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Courses Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Kurslar</h6>
            <h1 class="mb-5">Online Kurslar</h1>
        </div>
        <div class="row g-4 justify-content-center">
            @foreach (var item in ViewBag.CourseList)
            {
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="@item.CourseImage" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a href="https://wa.me/905312232852?text=" target="_blank" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px;">İletişime Geç!</a>
                            </div>
                        </div>
                        <div class="text-center p-4 pb-0">
                            <h3 class="mb-0">@item.CoursePrice ₺</h3>
                            <h5 class="mb-4">@item.CourseName</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>@item.CourseTeacher</small>
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>@item.CourseTimes.ToString("HH:mm")</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>@item.CourseQuota Kontenjan </small>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Courses End -->
<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Yorumlar</h6>
            <h1 class="mb-5">Yorumlarınız Bizim İçin Önemli!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            @foreach (var item in ViewBag.CommentList)
            {
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="~/Page/img/3007823343.png" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">@item.CommentName</h5>
                    <p>Kullanıcımız</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">@item.CommentContent</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Testimonial End -->